/* Just some base styles not needed for example to function */
*, html { font-family: Verdana, Arial, Helvetica, sans-serif; }

body, form, ul, li, p, h1, h2, h3, h4, h5
{
	margin: 0;
	padding: 0;
}
body { margin: 0; }
img { border: none; }
p
{
	font-size: 1em;
	margin: 0 0 1em 0;
}

html { font-size: 100%; /* IE hack */ }
body { font-size: 13px; /* Sets base font size to 16px */ }
table { font-size: 100%; /* IE hack */ }
input, select, textarea, th, td { font-size: 1em; }
	
/* CSS Tree menu styles */
ol.tree
{
	padding: 0 0 0 20px;
	margin: 0;
	/*width: 300px;*/
	 font-size: 14px;
}
	li 
	{ 
		position: relative; 
		margin-left: -15px;
		list-style: none;
	}
	/*li.file
	{
		margin-left: -1px !important;
	}*/
		/*
		li.file a
		{
			background: url(document.png) 0 0 no-repeat;
			color: #000;
			padding-left: 21px;
			text-decoration: none;
			display: block;
		}
		li.file a[href *= '.pdf']	{ background: url(document.png) 0 0 no-repeat; }
		li.file a[href *= '.html']	{ background: url(document.png) 0 0 no-repeat; }
		li.file a[href $= '.css']	{ background: url(document.png) 0 0 no-repeat; }
		li.file a[href $= '.js']		{ background: url(document.png) 0 0 no-repeat; }
		*/
		
	li input
	{
		position: absolute;
		left: 0;
		margin-left: 0;
		opacity: 0;
		z-index: 2;
		cursor: pointer;
		height: 1em;
		width: 1em;
		top: 0;
	}
		li input + ol  
		{
			background: url(toggle-small-expand.png) 40px 0 no-repeat;
			margin: -15px 0 0 -44px; /* 15px */
			height: 1em;
		}
		li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
		
	li label
	{
		/*background: url(folder-horizontal.png) 15px 1px no-repeat;*/
		cursor: pointer;
		display: block;
		padding-left: 15px;
	}

	li input:checked + ol
	{
		background: url(toggle-small.png) 40px 5px no-repeat;
		margin: -20px 0 0 -44px; /* 20px */
		padding: 20px 0 0 60px;
		height: auto;
	}
		li input:checked + ol > li { display: block; amargin: 0 0 0.125em;  /* 2px */}
		li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }
		
	li img {
		margin: -5px -5px -5px 0;
	}
	
/* Menu */
.trigger {
	display:block;
	border: 1px solid #999;
	border-radius:3px;
	background-color: #333;
	position:absolute;
	right: 10px;
	top: 45px;
	width: 218px; 
	height: 21px; 
	padding: 5px;
	background-image: linear-gradient(#FFF 0px, #EEE 100%);
	-moz-user-select:none;
	-webkit-user-select:none;
	cursor:default;
	z-index:0;
}
.menu_header {
	display:block;
	float:left;
	margin-top: 2px;
}
.close {
	display:block;
	float:right;
	margin:-2px 0;
	width:25px;
	height:25px;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path d="M8,5.5 L8.5,5 L15,11.5 L21.5,5 L22,5.5 L15.5,12 L22,18.5 L21.5,19 L18.5,16 L15,12.5 L8.5,19 L8,18.5 L14.5,12 L8,5.5 Z"></path></svg>');
}
.links {
	position:absolute;
	left: 180px;
	bottom: 6px;
	padding: 3px;
	border-radius:4px;
	background-color:rgba(255, 255, 255, 0.7);
}