html {
	font-family: Verdana, sans-serif;
}
body, form, ul, li, p, h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}
body { font-size: 13px;}
img { border: none; }
p {
	font-size: 1em;
	margin: 0 0 1em 0;
}
/* Menu */
.trigger {
	display:block;
	border: 1px solid #999;
	border-radius:3px;
	background-color: #333;
	position:absolute;
	right: 10px;
	top: 45px;
	width: 218px; 
	height: 21px; 
	padding: 5px;
	background-image: linear-gradient(#FFF 0px, #EEE 100%);
	-moz-user-select:none;
	-webkit-user-select:none;
	cursor:default;
	z-index:0;
}
.menu_header {
	display:block;
	float:left;
	margin-top:2px;
	width:195px;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
.close {
	display:block;
	background: url(images/close.svg) left top no-repeat; 
}
.open {
	display: none;
	background: url(images/open.svg) left top no-repeat;
}
.close, .open {
	float:right;
	margin:-2px 0;
	width:23px;
	height:25px;
	background-size: 22px;
	/*background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg"><path d="M8,5.5 L8.5,5 L15,11.5 L21.5,5 L22,5.5 L15.5,12 L22,18.5 L21.5,19 L18.5,16 L15,12.5 L8.5,19 L8,18.5 L14.5,12 L8,5.5 Z"></path></svg>');*/
	
}
.fcontainer {
	border-width: 1px;
	border-style:solid;
	border-color: #999;
	border-radius: 0 0 3px 3px;
	background-color: #333;
	position:absolute;
	right: 10px;
	top: 76px;
	max-height: 88%;
	overflow:scroll;
	width: 218px;
	padding: 5px;
	margin-bottom: 30px;
	background-image: linear-gradient(#FFF 0px, #EEE 100%);
}
.links {
	position:absolute;
	left: 180px;
	bottom: 6px;
	padding: 3px;
	border-radius:4px;
	background-color:rgba(255, 255, 255, 0.7);
}
.save {
	margin:0 0 -3px -4px;
	width:16px;
}
.file {
	overflow:hidden;
	text-overflow:ellipsis;
}